@model BikeRental.Models.BicyclePrices

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BicyclePrices</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bicycles.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bicycles.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlinePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlinePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnstatePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnstatePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
