@using BikerRental.Web.Helpers;
@using BikerRental.Web.ViewModels;
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bikerental :: @ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bikerental.css" rel="stylesheet" />
    <script src="~/Content/enlargeit/enlargeit.js"></script>
    <script src="~/Scripts/bikerental.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/enlargeit/enlargeitdemo.css" rel="stylesheet" />
    <link href="~/Styles/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/datetimepicker/jquery.datetimepicker.js"></script>
    <link href="~/Styles/jquery.jscrollpane.css" rel="stylesheet" />
    <script src="~/Scripts/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script src="~/Scripts/jscrollpane/jquery.mousewheel.js"></script>
</head>
<body>
    <table width="1009" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td style="position:relative">
                <div class="logocover"><div class="logo"><img src="http://itechnoweb.com/bikerental/assets/images/front/bikerental_logo.png" border="0" /></div></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="topbg">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="33%">&nbsp;</td>
                                    <td width="33%" class="toptext">
                                        <table width="270px" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                                <td width="50" align="right"><img src="http://itechnoweb.com/bikerental/assets/images/front/ph.png" /></td>
                                                <td width="149" align="center">212-664-9600</td>
                                                <td width="71"><img src="http://itechnoweb.com/bikerental/assets/images/front/fb.png" width="24" height="24" /></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><span>Located at: 348 W 57th St. New York (Between 8 and 9 Aves)</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20%" valign="bottom" align="right" style="padding-right:10px; font-family:Arial; font-size:13px;
                font-weight:bold; color:#054388">
                                        Cart (<span id="cartitemcounter"><a href="@Url.Action("Index", "Cart")" style="text-decoration:none">@CartHelper.Quantity() items </a></span>)
                                    </td>
                                    <td width="14%"><img src="http://itechnoweb.com/bikerental/assets/images/front/tripadvisor.png" width="125" height="81" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="topnav" style="padding-left: 250px; z-index:2000">
                            @Html.Action("Index", "Menu")
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-top:-7px">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="230" rowspan="3" valign="top">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:-4px">
                                    <tr>
                                        <td class="leftbg">
                                            <!--  <input type="button" name="test" value="populate bike" onclick="populatediv()"/>-->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="3" style="padding:10px; margin-top:40px">
                                                    <tr>
                                                        <td align="center" class="bluetext">QUICK RESERVATION</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @using (Ajax.BeginForm("ChooseTourOrRental", "QuickReservation", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "reservation-details", OnSuccess="styleScroller" }))
                                                            {
                                                                    <select name="tourOrRental" id="tourOrRental" style="width: 200px" class="round" onchange="$(this.form).submit();">
                                                                        <option value="0" selected="selected">Choose Tour or Rental *</option>
                                                                        <option value='@TourOrRental.BikeRental'>Bike Rental</option>
                                                                        <option value='@TourOrRental.BikeTour'>Bike Tour</option>
                                                                        <option value='@TourOrRental.DoubleDeckerBusTour'>Double Decker Bus Tour</option>
                                                                        <option value='@TourOrRental.Cruise'>Cruise</option>
                                                                        <option value='@TourOrRental.Packages'>Packages</option>
                                                                    </select>
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            <form id="reservation-details">
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                                <div><img src="http://itechnoweb.com/bikerental/assets/images/front/leftend.png" /></div>
                                @RenderSection("Left", required: false)
                            </td>
                            <td colspan="2" class="bluetext" style="padding-top:7px; padding-bottom:5px; vertical-align:top">
                                The Official Central Park Bike Rental and Tour Company
                                @RenderSection("Head", required: false)
                            </td>
                        </tr>
                        <tr>
                            <td width="520" valign="top">
                                @RenderSection("Top", required: false)
                            </td>
                            <td width="249" valign="top">
                                @if (!IsSectionDefined("RightTop"))
                                {
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <!--<img src="http://itechnoweb.com/bikerental/assets/images/front/rentalprice.png" width="249" height="335">-->
                                                <!-- <table width="249" border="0" align="center" cellpadding="0" cellspacing="0">
                                                  <tr>
                                                    <td valign="top" class="pricebox_top">
                                                    <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td valign="top" class="bluetext_price">bike rental prices</td>
                                                      </tr>
                                                    </table></td>
                                                  </tr>
                                                  <tr>
                                                    <td valign="top" class="pricebox_mid"><table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="center" valign="top">
                                                        <table width="80" border="0" align="center" cellpadding="0" cellspacing="0">
                                                          <tr>
                                                            <td align="center" valign="top" class="whtext_price_1">duration</td>
                                                          </tr>
                                                        </table></td>
                                                        <td align="center" valign="top"><table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                          <tr>
                                                            <td align="center" valign="top" class="whtext_price_1">walk in</td>
                                                          </tr>
                                                        </table></td>
                                                        <td align="center" valign="top"><table width="60" border="0" align="center" cellpadding="0" cellspacing="0">
                                                          <tr>
                                                            <td valign="top" class="bltext_price_1">online
                                                special</td>
                                                          </tr>
                                                        </table></td>
                                                      </tr>
                                                    </table></td>
                                                  </tr>
                                                  <tr>
                                                    <td valign="top" class="pricebox_bar">

                                                    <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                        <td align="center" valign="top">
                                                            <table width="80" border="0" align="center" cellpadding="0" cellspacing="0">
                                                              <tr>
                                                                <td align="center" valign="top" class="whtext_price_2">2 hours</td>
                                                              </tr>
                                                            </table>
                                                        </td>

                                                        <td align="center" valign="top">
                                                            <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                              <tr>
                                                                <td align="center" valign="top"
                                                                 class="whtext_price_3"
                                                                 >$20</td>
                                                              </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" valign="top">
                                                        <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                          <tr>
                                                            <td valign="top" class="bltext_price_2">$14</td>
                                                          </tr>
                                                        </table>

                                                        </td>
                                                      </tr>
                                                            <tr>
                                                        <td align="center" valign="top">
                                                            <table width="80" border="0" align="center" cellpadding="0" cellspacing="0">
                                                              <tr>
                                                                <td align="center" valign="top" class="whtext_price_2">3 hours</td>
                                                              </tr>
                                                            </table>
                                                        </td>

                                                        <td align="center" valign="top">
                                                            <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                              <tr>
                                                                <td align="center" valign="top"
                                                                 class="whtext_price_3"
                                                                 >$25</td>
                                                              </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" valign="top">
                                                        <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                          <tr>
                                                            <td valign="top" class="bltext_price_2">$18</td>
                                                          </tr>
                                                        </table>

                                                        </td>
                                                      </tr>
                                                            <tr>
                                                        <td align="center" valign="top">
                                                            <table width="80" border="0" align="center" cellpadding="0" cellspacing="0">
                                                              <tr>
                                                                <td align="center" valign="top" class="whtext_price_2">4 hours</td>
                                                              </tr>
                                                            </table>
                                                        </td>

                                                        <td align="center" valign="top">
                                                            <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                              <tr>
                                                                <td align="center" valign="top"
                                                                 class="whtext_price_3"
                                                                 >$32</td>
                                                              </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" valign="top">
                                                        <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                          <tr>
                                                            <td valign="top" class="bltext_price_2">$23</td>
                                                          </tr>
                                                        </table>

                                                        </td>
                                                      </tr>
                                                            <tr>
                                                        <td align="center" valign="top">
                                                            <table width="80" border="0" align="center" cellpadding="0" cellspacing="0">
                                                              <tr>
                                                                <td align="center" valign="top" class="whtext_price_2">24 hours</td>
                                                              </tr>
                                                            </table>
                                                        </td>

                                                        <td align="center" valign="top">
                                                            <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                              <tr>
                                                                <td align="center" valign="top"
                                                                 class="whtext_price_3"
                                                                 >$40</td>
                                                              </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" valign="top">
                                                        <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                          <tr>
                                                            <td valign="top" class="bltext_price_2">$32</td>
                                                          </tr>
                                                        </table>

                                                        </td>
                                                      </tr>
                                                            <tr>
                                                        <td colspan="2" align="center" valign="top" class="whtext_price_2">Monthly&nbsp;Membership</td>
                                                        <td align="center" valign="top" class="bltext_price_2">$70</td>
                                                      </tr>

                                                    </table>


                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td valign="top"><img src="http://itechnoweb.com/bikerental/assets/images/front/price_box_bottom.png" alt="bottom" width="249" height="10" /></td>
                                                  </tr>
                                                  <tr>
                                                    <td valign="top"><img src="http://itechnoweb.com/bikerental/assets/images/front/price_box_bottom_1.png" alt="bottom" width="249" height="6" /></td>
                                                  </tr>
                                                  <tr>
                                                    <td valign="top" class="pricebox_yellow_bar">
                                                    <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td valign="top" class="bluetext_price">reserve your<br />
                                                central park bike<br />
                                                and tour online<br />
                                                to <span class="redtext_price">save up to 50%</span></td>
                                                      </tr>
                                                      <tr>
                                                        <td valign="top" class="bluetext_price_1">Free helments, locks, baskets, and maps.</td>
                                                      </tr>
                                                    </table></td>
                                                  </tr>
                                                  <tr>
                                                    <td valign="top"><img src="http://itechnoweb.com/bikerental/assets/images/front/price_box_bottom_3.png" alt="bottom_3" width="249" height="11" /></td>
                                                  </tr>
                                                </table>-->
                                                <table width="249" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td valign="top" class="pricebox_top">
                                                            <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td valign="top" class="bluetext_price">bike rental prices</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="pricebox_mid">
                                                            <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="center" valign="top">
                                                                        <table width="80" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td align="center" valign="top" class="whtext_price_1">duration</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td align="center" valign="top">
                                                                        <table width="70" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td align="center" valign="top" class="whtext_price_1">walk in</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td align="center" valign="top">
                                                                        <table width="60" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td valign="top" class="bltext_price_1">
                                                                                    online
                                                                                    special
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="pricebox_bar">

                                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="center" valign="top" class="whtext_price_2" width="90" style="padding:0px">2 hours        </td>

                                                                    <td width="70" align="center" valign="top" class="whtext_price_3" style=" text-decoration:none; background-image:url(http://itechnoweb.com/bikerental/assets/images/front/linethru.png); background-repeat:no-repeat; background-position:center; vertical-align:middle; padding:0px">$20        </td>
                                                                    <td width="79" align="center" valign="top" class="bltext_price_2" style="padding:0px">$14 </td>
                                                                    <td width="10" align="center" valign="top" class="bltext_price_2" style="padding:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="top" class="whtext_price_2" width="90" style="padding:0px">3 hours        </td>

                                                                    <td width="70" align="center" valign="top" class="whtext_price_3" style=" text-decoration:none; background-image:url(http://itechnoweb.com/bikerental/assets/images/front/linethru.png); background-repeat:no-repeat; background-position:center; vertical-align:middle; padding:0px">$25        </td>
                                                                    <td width="79" align="center" valign="top" class="bltext_price_2" style="padding:0px">$18 </td>
                                                                    <td width="10" align="center" valign="top" class="bltext_price_2" style="padding:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="top" class="whtext_price_2" width="90" style="padding:0px">4 hours        </td>

                                                                    <td width="70" align="center" valign="top" class="whtext_price_3" style=" text-decoration:none; background-image:url(http://itechnoweb.com/bikerental/assets/images/front/linethru.png); background-repeat:no-repeat; background-position:center; vertical-align:middle; padding:0px">$32        </td>
                                                                    <td width="79" align="center" valign="top" class="bltext_price_2" style="padding:0px">$23 </td>
                                                                    <td width="10" align="center" valign="top" class="bltext_price_2" style="padding:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="top" class="whtext_price_2" width="90" style="padding:0px">24 hours        </td>

                                                                    <td width="70" align="center" valign="top" class="whtext_price_3" style=" text-decoration:none; background-image:url(http://itechnoweb.com/bikerental/assets/images/front/linethru.png); background-repeat:no-repeat; background-position:center; vertical-align:middle; padding:0px">$40        </td>
                                                                    <td width="79" align="center" valign="top" class="bltext_price_2" style="padding:0px">$32 </td>
                                                                    <td width="10" align="center" valign="top" class="bltext_price_2" style="padding:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" align="center" valign="top" class="whtext_price_2" style="padding:0px">Monthly Membership</td>
                                                                    <td align="center" valign="top" class="bltext_price_2" style="padding:0px">$70</td>
                                                                    <td align="center" valign="top" class="bltext_price_2" style="padding:0px">&nbsp;</td>
                                                                </tr>

                                                            </table>


                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top"><img src="http://itechnoweb.com/bikerental/assets/images/front/price_box_bottom.png" alt="bottom" width="249" height="10" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top"><img src="http://itechnoweb.com/bikerental/assets/images/front/price_box_bottom_1.png" alt="bottom" width="249" height="6" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="pricebox_yellow_bar">
                                                            <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td valign="top" class="bluetext_price" style="padding:0px">
                                                                        reserve your<br />
                                                                        central park bike<br />
                                                                        and tour online<br />
                                                                        to <span class="redtext_price" style="padding:0px">save up to 50%</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" class="bluetext_price_1" style="padding:5px 0 5px 0px; font-size:11px">Free helments, locks, baskets &amp; maps.</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top"><img src="http://itechnoweb.com/bikerental/assets/images/front/price_box_bottom_3.png" alt="bottom_3" width="249" height="11" /></td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>


                                    </table>
                                }
                                @RenderSection("RightTop", required: false)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top" style="padding-top:8px; padding-bottom:8px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="520px" style="padding-left:10px; padding-right:0px" valign="top">
                                            @RenderSection("Middle", required: false)
                                        </td>
                                        <td width="249px" valign="top" style="padding:0px 0px 0 10px">
                                            @RenderSection("Right", required: false)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
        <tr>
            <td></td>
        </tr>

        <tr>
            <td>

                @RenderSection("Bottom", required: false)

            </td>
        </tr>
        <tr>
            <td class="footerbg" valign="top" style="padding-left:10px; padding-top:10px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="86%" class="footertext" style="padding-left:20px">
                            @Html.ActionLink("About Us", "Index", "AboutUs")
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Cancellation Policy", "Index", "CancellationPolicy")
                            @*footertext*@
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Privacy Policy", "Index", "PrivacyPolicy")
                        </td>
                        <td width="14%" colspan="2" rowspan="3"><img src="http://itechnoweb.com/bikerental/assets/images/front/footerlogo.png" width="89" height="89" /></td>
                    </tr>
                    <tr>
                        <td class="footertext" style="padding-left:20px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="footertext" style="padding-left:20px; color:#999; font-size:10px; font-weight:normal">&copy; 2009-2012 Bike Rental Central park. All Rights Reserved.</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    @RenderBody()
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    <script>
        function styleScroller() {
            function unavailable(date) {
                return [false, ""];
            }
            $('.scroll-pane').jScrollPane();
            $('.datetime-picker').datetimepicker('option', 'beforeShowDay', unavailable);

            $('.datetime-picker').datetimepicker({
                minDate: 0,
                minTime: '08:00',
                maxTime: '19:01',
                step: 30,
                hours12: true,
                beforeShowDay: function (date) {
                    @for (int i = 0; i < 1; i++)
			        {
                        @: console.log(date);
			            @: return 'xdsoft_disabled';
			        }
                    
                }
            });
        }


    </script>
</body>
</html>
