@using BikerRental.Web.Areas.Administration.Models;

@model BikeRental.Models.Bicycle

@Html.HiddenFor(x => x.Id)

<p>
    <label>Name</label>
    @Html.TextBoxFor(x => x.Name)
</p>

<p>
    <label>Image</label>
    @if (Html.ValueFor(x => x.Image).ToString() != "")
    {
        var a = Html.ValueFor(x => x.Image);
        <img src="@Url.Content(string.Format("~/Content/Images/Raw/{0}{1}", Html.ValueFor(x => x.Image), ImageSizes.MEDIUM))" />
        @Html.HiddenFor(x => x.Image)
    }
    @Html.TextBoxFor(x => x.Image, new { type = "file" })
</p>
<p>
    <label>Description</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "ckeditor" })
</p>
<p>
    <label>FrontPage</label>
    @Html.EditorFor(x => x.FrontPage)
</p>
<p>
    <label>Hidden</label>
    @Html.EditorFor(x => x.Hidden)
</p>
<div id="phoneNumbers">
    @Html.EditorFor(x => x.Prices)
</div>

