@model BikeRental.Models.BicyclePrices
@Html.HiddenFor(x => x.BicycleId)
@Html.HiddenFor(x => x.Id)

<tr>
    <td>
        @Html.HiddenFor(x => x.Duration)
        @Model.Duration.ToString();
    </td>
    <td>
        @Html.EditorFor(x => x.OnlinePrice)
    </td>
    <td>
        @Html.EditorFor(x => x.OnstatePrice)
    </td>
</tr>