@model BikeRental.Models.Tour
@using BikerRental.Web.Areas.Administration.Models;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Type)

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @if (Html.ValueFor(x => x.Image).ToString() != "")
        {
            var a = Html.ValueFor(x => x.Image);
            <img src="@Url.Content(string.Format("~/Content/Images/Raw/{0}{1}", Html.ValueFor(x => x.Image), ImageSizes.MEDIUM))" />
            @Html.HiddenFor(x => x.Image)
        }
        @Html.TextBoxFor(x => x.Image, new { type = "file" })
    </div>
</div>


    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class="ckeditor" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Duration, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Schedules, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Schedules)
            @Html.ValidationMessageFor(model => model.Schedules)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address1, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address2, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureTime, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DepartureTime)
            @Html.ValidationMessageFor(model => model.DepartureTime)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Notice, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Notice, new { @rows = 3, @cols = 40 })
            @Html.ValidationMessageFor(model => model.Notice)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OnlinePrice, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OnlinePrice)
            @Html.ValidationMessageFor(model => model.OnlinePrice)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OnstatePrice, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OnstatePrice)
            @Html.ValidationMessageFor(model => model.OnstatePrice)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Enabled, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Enabled)
            @Html.ValidationMessageFor(model => model.Enabled)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RightPanel, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RightPanel)
            @Html.ValidationMessageFor(model => model.RightPanel)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HomePage, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HomePage)
            @Html.ValidationMessageFor(model => model.HomePage)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FrontPage, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FrontPage)
            @Html.ValidationMessageFor(model => model.FrontPage)
        </div>
    </div>
