@using BikeRental.Models;

@model ReservedBusTour

<tr>
    <td align="left">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="@Url.Content(string.Format("~/Content/Images/Raw/{0}{1}", Model.BusTour.Image, ImageSizes.SMALL))" />
                    </td>
                    <td valign="top">
                        <strong>@Model.BusTour.Name</strong>
                        <p>
                            @*<strong>Duration:</strong> @Model.Duration Hours<br>*@
                            <strong>Tourdate:</strong> @Model.Date<br>
                        </p>

                    </td>
                </tr>
            </tbody>
        </table>
    </td>
    <td align="center">
                Adults<br />
                @Model.Adults X $@Model.Price
        <br />
        <br />
                Kids<br />
                @Model.Kids X $@Model.Price
    </td>

    <td style="text-align:right">$@(Model.Price*(Model.Kids+Model.Adults))</td>
    <td align="right">
        @using (Html.BeginForm("RemoveBusTourReservation", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="submit" value="Remove" data-reservation-id="@Model.Id" class="removeBike">
        }
    </td>
</tr>