@using BikeRental.Models
@using BikerRental.Web.Models
@using BikerRental.Web.Helpers;

<div class="paymentInfo">

    <h3>Payment Information</h3>

    <div class="clear"></div>
    <form id="orderForm" method="post" action="@CheckoutModel.Url ">
        <div class="order-field-wrapper">
            <label class="order-label " for="order_name" style="color: rgb(102, 102, 102);">* First Name:</label>
            <input type="text" id="order_name" class="order-input-text " name="x_first_name" required>
            <div style="display: none" class="order-error" id="order_name-error-empty">Input your First Name!</div>
        </div>
        <div class="order-field-wrapper">
            <label class="order-label " for="order_name" style="color: rgb(102, 102, 102);">* Last Name:</label>
            <input type="text" id="order_name" class="order-input-text " name="x_last_name" required>
            <div style="display: none" class="order-error" id="order_name-error-empty">Input your Last Name!</div>
        </div>
        <div class="order-field-wrapper">
            <label class="order-label " for="order_phone">* Phone number:</label>
            <input type="text" id="order_phone" class="order-input-text " name="x_phone" required>
            <div style="display: none" class="order-error" id="order_phone-error-empty">Input your Phone number!</div>
        </div>
        <div class="order-field-wrapper">
            <label class="order-label " for="order_phone">* Email address:</label>
            <input type="text" id="order_phone" class="order-input-text " name="x_email" required>
            <div style="display: none" class="order-error" id="order_phone-error-empty">Input your Email address!</div>
        </div>
        <div class="order-field-wrapper">
            <label class="order-label " for="order_phone">City:</label>
            <input type="text" id="order_phone" class="order-input-text " name="x_city">
        </div>
        <div class="order-field-wrapper">
            <label class="order-label " for="order_phone">State/Province:</label>
            <input type="text" id="order_phone" class="order-input-text " name="x_state">
        </div>

        <div class="clear"></div>

        <div class="sum-total">
            <div style="text-align:center">
                <img src="~/Assets/Images/checkout/payment-cards.png" />
            </div>
            <div style="margin: 10px 0; border-bottom: 1px dashed #c7c7c7; "></div>
            <span class="total-amount-label">
                Total amount:
            </span>
            <span style="color: black !important;" class="toStep2discountPrice">
                @{
                    
                    List<ReservedBicycle> reservedBikes = CartHelper.GetReservedBikes();
                    List<ReservedBikeTour> reservedBikeTours = CartHelper.GetReservedBikeTours();
                    List<ReservedBusTour> reservedBusTours = CartHelper.GetReservetBusTours();
                
                    int counter = 1;
                    foreach (ReservedBicycle bike in reservedBikes)
                    {
                        <input type="hidden" name="x_line_item" value="@(counter++)<|>@bike.Bicycle.Name<|><|>@bike.Quantity<|>@bike.Price<|>Y" />
                    }

                    foreach (ReservedBikeTour bikeTour in reservedBikeTours)
                    {
                        <input type="hidden" name="x_line_item" value="@(counter++)<|>@bikeTour.BikeTour.Name<|><|>1<|>@bikeTour.Price<|>Y" />
                    }

                    foreach (ReservedBusTour busTour in reservedBusTours)
                    {
                        <input type="hidden" name="x_line_item" value="@(counter++)<|>@busTour.BusTour.Name (Adults)<|><|>@busTour.Adults<|>@busTour.Price<|>Y" />
                        <input type="hidden" name="x_line_item" value="@(counter++)<|>@busTour.BusTour.Name (Kids)<|><|>@busTour.Kids<|>@busTour.Price<|>Y" />
                    }
                }
                $@CartHelper.GetTotal()

            </span>
        </div>
        
        @Html.Partial("_AuthorizeData")
        <div class="checkout-proceed" style="margin-top:0;border-top:0;">
            <p align="right" class="cartbut" style="margin:10px">
                <input type="submit" style="background-color:#006600" value="Checkout">
            </p>
        </div>
    </form>
</div>